:root{
    --color-one: white;
    --color-two: black;
}
body{
    background-color: var(--color-two);
    margin: 0px;
    padding: 0px;
}
.content{
    margin: 40px;
}
.wrap {
    word-wrap: normal;
}
.row {
    /* display: flex; */
    /* max-width: 1300px; */
    /* position: center; */
    overflow-wrap: normal;
    /* flex-wrap: wrap; */
    
}
img {
    width: 500px;
    height: auto;
    box-shadow: 0 0 15px 2px #7f7f7f;
    /* margin: 40px; */
    border-radius: 10px;
    float: left;
    margin: 0 40px 40px 0;
}
p {
    font-size: 24px;
}
h1 {
    font-size: 28px;
}
.text {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    color: var(--color-one);
    text-shadow: 0px 0px 3px #aaaaaa;
}
#darkModeToggle{
    user-select: none;
    background-color: transparent;
    height: 50px;
    width: 200px;
    text-align: center;
    border: 2px;
    border-style: solid;
    border-color: var(--color-one);
    border-radius: 10px;
    box-shadow: 0 0 10px 0px #7f7f7f;
    float: left;
    font-size: 14px;
    margin: 20px;
}
.bottom-navbar {
    position: center;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
}
hr {
    box-shadow: 0 0px 5px 0px #7f7f7f;
    color: var(--color-one);
    height: 2px;
    width: 100%;
    position: center;
    border-style: solid;
    border-radius: 5px;
    background-color: var(--color-one);
    
}
#JSPrompt{
    font-size: 80px;
    background-color: white;
    color: red;
}
.Copyright{
    float: left;
    margin: 20px;
    height: 50px;
    font-size: 14px;
    text-align: center;
    padding: 18px;
}
#Beta{
    width: calc(100% - 40px);
    height: 22px;
    text-align: center;
    background-color: #c0902a3d;
    margin-bottom: 15px;
    font-size: 16px;
    text-shadow: 0 0 0;
    padding-left: 20px;
    padding-right: 20px;
}
#Copyright{
    margin-left: auto;
}
#Email{
    font-style: 0;
    text-decoration: 0;
}
#GitHub {
    font-style: 0;
    text-decoration: 0;
}
#FirstParagraph {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    .row {
        display: inline-block;
        position: center;
        margin-bottom: 0px;
    }
    p {
        font-size: 16px;
    } 
    h1 {
        font-size: 20px;
    }
    img {
        float: none;
        width: 100%;
        height: auto;
        position: center; 
    }
    .content{
        display: inline-block;
        margin: 40px;
        width: calc(100% - 80px);
    }
    .Copyright{
        margin: 10px;
        height: 40px;
        font-size: 12px;
        padding: 13px;
    }
    #darkModeToggle {
        margin: 10px;
        height: 40px;
        width: 130px;
        font-size: 12px;
    }
    #FirstParagraph {
        margin-bottom: 0px;
    }
    #OtherParagraphs{
        margin-top: 0px;;
    }
    #Paragraph2{
        margin-bottom: 0px;
    }
    .Copyright {
        margin: 10px;
    }
}
@media screen and (max-width: 655px) {
    #Beta{
        height: 44px;
    }
    #darkModeToggle {
        width: 70px;
        margin: 10px 5px 5px 5px;
        font-size: 10px;
    }
    .Copyright {
        font-size: 10px;
        margin: 5px;
        padding: 18px 0 0 0;
    }
}
@media screen and (max-width: 350px) {
    #Beta{
        height: 66px;
    }
}